{% extends "base_no_login.html" %}

{% block content %}
    <h2 class="form-title">
        <img height="30px" src="static/img/MARS-2-7.png" alt="Гордая эмблема нашей гордой группы">
        <span>Аварийный доступ</span>
    </h2>

    <form action="" method="post" novalidate>
        <div>
            {{ form.csrf_token }}
        </div>
        {% for field in form if field.name != 'csrf_token' %}
            <div>
                {{ field.label() }}
                {{ field() }}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
{% endblock %}